body {
    background: black;
    color: white;
}
h1, h2{
    color: white;
    font-family: Helvetica, sans-serif;
    margin: 40px;
}
img{
   width: 400px;
}
p:first-letter{
    font-size: 20px;
}
header a{
    color: #87CEFA;
}

a{
    color:#AFEEEE ;
}
a:hover{
    color: yellow;
    text-decoration: none;
}

.about {
    background: #2F4F4F;
    font-size: 20px;
}
.label:after{
    content: ":";
}